* {
    box-sizing: border-box;
    list-style:none;
    text-decoration:none;
    margin: 0;
    padding: 0;
}
a:link, a:visited, a:active {
    text-decoration: none;
}
h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

h2{
    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    

}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #757575;
}

dl{
    padding-left: 0;
}

dt {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;


    color: #212121;

}
dd {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto';

    color: #757575;

    margin: 0;
    padding: 0;
}


#h2_2{
    background-color: #F5F4FA;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;

}

#link_style{
    color: black;
}
#link_style:hover{
    color: #2196F3;
    cursor: pointerx;
}

img{
    width: 373px;
    height: 324px;

}

.container{
    font-family: 'roboto';
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0px 200px 0px 200px;
        
     
}
.nav {
    display: flex;

    background-color: #FFFFFF;

    flex-direction: row;

    fill: solid #FFFFFF;
    border-bottom: 1px, solid #ececec; 
        
}
.title-1 {
    
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    margin-right: 93px;   
    padding: 24px 0px 25px 0px;

    color: #2196F3;
}

.menu , .menu2{
    display: flex;
    gap: 50px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin: 32px 0px 32px 0px;
}

.menu :hover {
    color: #2196F3;
    cursor: pointer;
}


.menu2{
    margin-left: 344px;
   
}

.menu2  :hover{
    color: #2196F3;
    cursor: pointer;

}

.link_gray{
    color: #757575;
    white-space: nowrap;
}


.nav > .menu >.link_1,.link_2,.link_3,.mail,.tel {
    list-style: none;
    text-decoration: none;
}

.main{
    display: inline-block;
    width: 100%x;
    height: 600px;
    background-color: #2f303a;
    text-align: center;   
}

.main_title{
    margin-top: 200px; 
    margin-left: 452px;
    margin-right: 452px;
    gap: 30px;
    background-color: #2f303a;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-button{
    margin-top: 30px;
    color: #FFFFFF;
    background-color: #2196F3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 32px 10px 32px;
    border: none;
    border-radius: 4px;
}

.first_section{
    display: flex;
    gap: 30px;
    padding: 94px 0px 94px 0px;
}

.item {
    gap: 10px;
}
.second_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    
}

.item2{
    display: flex;
    gap: 23px;
 }

 
.third_section{

    display: flexbox;
    justify-items: center;
    width: 100%;
    height: 648px; 
    text-align: center;
    margin-top: 94px;
    background-color:#F5F4FA;
    padding-top: 94px;
    

}

.section_3{

    display: flex;
    justify-content: center;
    max-width: 1177px;
    height: 368px;
    gap: 23px;
    background-color:#F5F4FA;  
    
}

.section_3_1{
    padding-bottom: 94px;
    object-fit: contain;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}


.img3{
    
    width: 270px;
    height: 260px;
   
 }

.dest{
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: space-between;
    text-align: center;
}
.desd{
    margin-top: 10px;
    text-align: center;
}

 
 footer{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 252px;
    background-color: #2f303a;
    
    
 }

.logo{
    background-color: #2f303a;
    margin-left: 215px;
    margin-top: 60px;

 }

 
.title-2{
    margin-top: 60px;
    color: #2196F3;
    background-color: #2f303a;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

}

.col1{
    background-color: #2f303a;
}

.address, .add1, .link_gray2{

    background-color: #2f303a;
}

.address{
  
    margin-top: 9px;
    margin-left: 215px;

}

.link_gray2{
    color: #757575;
    line-height:1.5;
}

.add1{
    color: #FFFFFF;
    margin: 0;

}

.mom{
    margin-top: 106px;
    margin-bottom: 82px;
    display: flex;
    max-width: 1170px;
    height: 1360px;
    flex-direction: column;
}
.bar_menu{
    display:flex ;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
    gap:8px;
}


.buttons_p {
    background-color:#F5F4FA;
    border-radius: 4px;
    border-style: none;
    padding: 6px 24px 6px 24px;
    color:#212121;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}
.buttons_p:hover {
    color:#FFFFFF;
    background-color:#2196F3;
    cursor:pointer;
}

.block2{
   
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.block3{
   
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.block4{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.img4{

    width: 370px;
    
}
.images_p{
    
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    margin-bottom: 30px;
}

.dt_p{
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    justify-content: space-between;
}
.dd_p{
    margin-top: 4px;
    margin-left: 24px;
    margin-bottom: 20px;
}